<%- include("partials/header.ejs") %>

<section id="hero">
  <h4>Trade-in-offer</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & upto 70% off!</p>
  <button>Shop Now</button>
</section>

<%- include("partials/features.ejs") %>

<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>

  <div class="pro-container">
    <% for(var i = 0; i < fproducts.length; i++) { %>
    <div
      class="pro"
      onclick="window.location.href='/sproduct/<%= fproducts[i].id %>';"
    >
      <img src="<%= fproducts[i].image %>" alt="" />
      <div class="description">
        <span><%= fproducts[i].brand.name %></span>
        <h5><%= fproducts[i].name %></h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>LKR <%= fproducts[i].price %></h4>
      </div>
    </div>
    <%}%>
  </div>
</section>

<section id="banner" class="section-m1">
  <h4>Repair Services</h4>
  <h2>Up to <span>70% Off</span> - All t-Shirts & Accessories</h2>
  <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
  <h2>New Arrivals</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
    <% for(var i = 0; i < nproducts.length; i++) {%>
    <div
      class="pro"
      onclick="window.location.href='/sproduct/<%= nproducts[i].id %>';"
    >
      <img src="<%= nproducts[i].image %>" alt="" />
      <div class="description">
        <span><%= nproducts[i].brand.name %></span>
        <h5><%= nproducts[i].name %></h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>LKR <%= nproducts[i].price %></h4>
      </div>
    </div>
    <%}%>
  </div>
</section>

<section id="sm-banner" class="section-p1">
  <div class="banner-box">
    <h4>CRAZY DEALS</h4>
    <h2>buy 1 get 1 free</h2>
    <span>The best classin dress is on sale at cara</span>
    <button class="white">Learn More</button>
  </div>
  <div class="banner-box banner-box2">
    <h4>Spring/Summer</h4>
    <h2>upcoming season</h2>
    <span>The best classin dress is on sale at cara</span>
    <button class="white">Collection</button>
  </div>
</section>

<section id="banner3">
  <div class="banner-box">
    <h2>SEASONAL SALE</h2>
    <h3>Winter Collection - 50% OFF</h3>
  </div>
  <div class="banner-box banner-box2">
    <h2>NEW FOOTWEAR COLLECTION</h2>
    <h3>Spring/Summer 2024</h3>
  </div>
  <div class="banner-box banner-box3">
    <h2>T-SHIRTS</h2>
    <h3>New Trendy Prints</h3>
  </div>
</section>

<%- include("partials/newsletter.ejs") %> <%- include("partials/footer.ejs") %>
