<%- include("partials/header.ejs") %>

    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img src="<%= product.image %>" alt="" width="100%" id="MainImg"/>

        <!-- <div class="small-img-group">
          <div class="small-img-col">
            <img
              src="img/products/f1.jpg"
              alt=""
              width="100%"
              class="small-img"
            />
          </div>
          <div class="small-img-col">
            <img
              src="img/products/f2.jpg"
              alt=""
              width="100%"
              class="small-img"
            />
          </div>
          <div class="small-img-col">
            <img
              src="img/products/f3.jpg"
              alt=""
              width="100%"
              class="small-img"
            />
          </div>
          <div class="small-img-col">
            <img
              src="img/products/f4.jpg"
              alt=""
              width="100%"
              class="small-img"
            />
          </div>
        </div> -->
      </div>
      <div class="single-pro-details">
        <h6>Home / T-Shirt</h6>
        <h4><%= product.name %></h4>
        <h2>LKR <%= product.price %></h2>
        <form action="/addtocart" method="post">
          <select name="size">
            <option value="<%= product.sze %>"><%= product.sze %></option>
            <!-- <option value="">XL</option>
            <option value="">XXL</option>
            <option value="">Small</option>
            <option value="">Large</option> -->
          </select>
          <input type="hidden" name="product_id" value="<%= product.id %>">
          <input type="hidden" name="brand_id" value="<%= product.brand_id %>">
          <input type="hidden" name="product_name" value="<%= product.name %>">
          <input type="hidden" name="price" value="<%= product.price %>">
          <input type="hidden" name="image" value="<%= product.image %>">
          <input type="number" placeholder="1" name="quantity" min="1" value="1"/>
          <button class="normal" type="submit">Add To Cart</button>
        </form>
        <h4>Product Details</h4>
        <span><%= product.description %></span>
      </div>
    </section>
    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Summer Collection New Modern Design</p>
      <div class="pro-container">
        <div class="pro">
          <img src="./img/products/n1.jpg" alt="" />
          <div class="description">
            <span>Brand Name</span>
            <h5>Product Name</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$50</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img src="./img/products/n2.jpg" alt="" />
          <div class="description">
            <span>Brand Name</span>
            <h5>Product Name</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$50</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img src="./img/products/n3.jpg" alt="" />
          <div class="description">
            <span>Brand Name</span>
            <h5>Product Name</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$50</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img src="./img/products/n4.jpg" alt="" />
          <div class="description">
            <span>Brand Name</span>
            <h5>Product Name</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$50</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
      </div>
    </section>

<%- include("partials/newsletter.ejs") %>

<%- include("partials/footer.ejs") %>